<ion-header>

  <ion-navbar>
    <ion-title>Weather Teather</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="home">
  <ion-list inset>
    <ion-item>
      <ion-label stacked>Zip Code</ion-label>
      <ion-input [(ngModel)]="zipCode" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button block (click)="getWeatherConditionsByZip()">Search</button>
  </div>

  <ion-list-header *ngIf="zipCodeRefresh">
    Weather lookup for <b>{{zipCode}}</b>
  </ion-list-header>
    <ion-card *ngIf="weatherData">
      <ion-card-header *ngIf="weatherData">
        Current Conditions for <b>{{weatherData.current_observation.display_location.full}}</b><br>
      </ion-card-header>
      <ion-card-content class="item-text-wrap">
        <ion-grid>
          <ion-row>
            <ion-col width-20>
              <img class="item-avatar item"
                   src={{weatherData.current_observation.icon_url}}
                   alt={{weatherData.current_observation.icon}}><br>
            </ion-col>
            <ion-col width-80>
              <br>
              &nbsp;{{weatherData.current_observation.weather}},
              <b>{{weatherData.current_observation.temp_f}}f</b><br><br>
            </ion-col>
          </ion-row>
        </ion-grid>

        Station: <b>{{weatherData.current_observation.observation_location.city}}</b><br>
      </ion-card-content>
    </ion-card>
  <!--  <ion-list-header>
      <ion-card>
        <ion-card-header>
          Current Weather for {{weatherData.observation_location.city}}
        </ion-card-header>
        <ion-card-content>
          Current Temp: {{weatherData.temp_f}}
          General Conditions: {{weatherData.weather}}
          Time: {{weatherData.local_time_rfc822}} {{weatherData.local_tz_short}}
        </ion-card-content>
      </ion-card>
    </ion-list-header>-->
</ion-content>
