.home {
  .item-avatar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 70%;
    height: auto;
    /*    float: right;*/
    margin: 0;
  }
  .forecast-avatar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    height: auto;
    float: top;
    margin: 0;
    font-size: 55%;
  }
  .font70 {
    font-size: 70%;
  }
  .font50 {
    font-size: 50%;
  }
  .forecast {
    font-size: 80%;
    word-wrap: break-word;
  }

  .BackgroundImage{
    background: url(http://mygardeninsight.com/images/BG,_off_Black.png) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
  }
  .scroll-content{
    background: url(http://mygardeninsight.com/images/BG,_off_Black.png) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
  }
}


