<ion-header>

  <ion-navbar ionNavBarBkgndColor>
    <ion-title>Weather Tether</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="home scroll-bg">
  <ion-list inset>
    <ion-item *ngIf!="weatherData">
      <ion-label stacked>Zip Code</ion-label>
      <ion-input [(ngModel)]="zipCode" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <div padding *ngIf!="weatherData">
    <button block (click)="getWeatherConditionsByZip(); getWeatherForecastByZip()">Search</button>
  </div>

  <ion-list-header *ngIf="zipCodeRefresh" class="weather-results">
    Weather for <b>{{zipCode}}</b>
  </ion-list-header>

  <ion-card *ngIf="weatherData" class="weather-results">
    <ion-card-header *ngIf="weatherData" class="weather-results">
      Current Conditions<br>
      <b>City {{weatherData.current_observation.display_location.full}}</b><br>
      <span class="font70">({{weatherData.current_observation.local_time_rfc822}} {{weatherData.current_observation.local_tz_short}})</span><br>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-33 class="cond-icon-col">
            <img class="item-avatar"
                 src={{weatherData.current_observation.icon_url}}
                 alt={{weatherData.current_observation.icon}}><br>
          </ion-col>
          <ion-col width-66 wrap class="obsver-align">
            <br>
            &nbsp;{{weatherData.current_observation.weather}},
            <b>{{weatherData.current_observation.temperature_string}}</b>
          </ion-col>
        </ion-row>
      </ion-grid>

      Humidity: <b>{{weatherData.current_observation.relative_humidity}}</b><br>
      Feels like: <b>{{weatherData.current_observation.feelslike_string}}</b><br>
      Wind: <b>{{weatherData.current_observation.wind_string}}</b><br>
      Visibility: <b>{{weatherData.current_observation.visibility_mi}} mi, {{weatherData.current_observation.visibility_km}} km</b><br><br>

      Precipitation Today: <b>{{weatherData.current_observation.precip_today_string}}</b><br>
      <!--todo: add NOAA reference http://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/uv_info.shtml,
                                   http://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/uv_information.shtml-->
      UV Index:  <b>{{weatherData.current_observation.UV}}</b><br>
      Station: <b>{{weatherData.current_observation.observation_location.city}} <span class="font70">({{weatherData.current_observation.station_id}})</span></b><br>
    </ion-card-content >

  </ion-card>


  <ion-card *ngIf="weatherForecastPeriods" class="weather-results">
    <ion-card-header class="weather-results">
      <b>3 Day Forecast</b>
    </ion-card-header>
    <ion-card-content>

      <ion-grid class="weather-results">

        <ion-row *ngFor="let forecastPeriod of weatherForecastPeriods" wrap center item-divider>
          <ion-col width-20 class="forecast-avatar">
            <img class="forecast-avatar"
                 src={{forecastPeriod.icon_url}}
                 alt={{forecastPeriod.icon}}>
          </ion-col>
          <ion-col width-75>
            <strong>{{forecastPeriod.title}}</strong><br>
            <span class="forecast" wrap>{{forecastPeriod.fcttext}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

<!--

  <ion-card>
    <ion-card-header *ngIf="weatherForecastPeriods">
      <b>3 Day Forecast</b>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let forecastPeriod of weatherForecastPeriods"> &lt;!&ndash; todo: class="row" wrap &ndash;&gt;
          <ion-column width-80>
            <span class="forecast">{{forecastPeriod.fcttext}}</span>
          </ion-column>
          <ion-column width-10 class="forecast-avatar">
            <img class="forecast-avatar item"
                 src={{forecastPeriod.icon_url}}
                 alt={{forecastPeriod.icon}}><br>
            {{forecastPeriod.title}}
          </ion-column>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
-->

<!--

  <ion-card>
    <ion-list>
      <ion-item *ngIf="weatherForecastPeriods"><b>3 Day Forecast</b></ion-item>
      <ion-item *ngFor="let forecastPeriod of weatherForecastPeriods">
        <span class="forecast">{{forecastPeriod.fcttext}}</span>
        <ion-note item-right>
          <img class="forecast-avatar item"
               src={{forecastPeriod.icon_url}}
               alt={{forecastPeriod.icon}}><br>
          {{forecastPeriod.title}}
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

-->
</ion-content>
